﻿@using System.Collections
@using KVV.DocumentManagement.Helpers
@using KVV.DocumentManagement.Models
@using Orchard.ContentManagement
@{
    Style.Include("documents-admin.css");
    
    var documentGroups = (IList<DocumentGroupPart>)Model.DocumentGroups;
    var documents = (IList<dynamic>)Model.Documents;
    Layout.Title = T("Documents").ToString();
    
}
<div class="manage">@Html.ActionLink(T("Add Document").ToString(), "Create", "Admin", new { id = "Document", area = "Contents", returnUrl = Request.Path }, new { @class = "button primaryAction" })</div>
@using (Html.BeginFormAntiForgeryPost()) {
    <fieldset class="bulk-actions">
        <label for="SearchField">@T("Search:")</label>
        <input type="text" id="SearchField" name="q" class="search-term" value="@Model.SearchTerm"/>
        <button type="submit" name="submit.Search" value="Search">@T("Search")</button>
    </fieldset>
    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Change Group to:")</label>
        <select id="publishActions" name="groupId">
            @Html.SelectOption("", true, "")
            @foreach (var group in documentGroups) {
                @Html.SelectOption(group.Id.ToString(), false, group.Name)
            }
        </select>
        <button type="submit" name="submit.AssignGroup" value="AssignGroup">@T("Apply")</button>
    </fieldset>
    <fieldset>
        <table class="items" summary="@T("This is a table of the documents in your application")">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th scope="col">@T("Title")&nbsp;&darr;</th>
                    <th scope="col">@T("Group")</th>
                    <th scope="col">@T("Roles")</th>
                    <th scope="col">@T("Owner")</th>
                    <th scope="col">@T("Created")</th>
                    <th scope="col">@T("Modified")</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var document in documents) {
                var content = (DocumentPart) document.Content;
                var group = content.Group;
                var statusClass = document.IsPublished ? "online" : "offline";
                <tr>
                    <td><input type="checkbox" value="@document.Id" name="documentIds"/></td>
                    <td><a class="document @statusClass" href="@Url.ItemEditUrlWithReturnUrl(content)" title="@document.Url">@Html.ItemDisplayText(content)</a></td>
                    <td>@document.Group.Name</td>
                    <td>@string.Join(", ", group.Roles.OrderBy(x => x))</td>
                    <td>@document.User.UserName</td>
                    <td>@document.Created.ToString()</td>
                    <td>@document.Modified.ToString()</td>
                    <td>
                        @if (document.IsPublished) {
                            @Html.ActionLink(T("Unpublish").ToString(), "Unpublish", new {id = document.Id})
                            <text>|</text>
                        }
                        else {
                            @Html.ActionLink(T("Publish").ToString(), "Publish", new {id = document.Id}, new {@class = "publish"})
                            <text>|</text>
                        }
                        @Html.ItemEditLinkWithReturnUrl(T("Edit").ToString(), (IContent) document.Content) |
                        @Html.ActionLink(T("Delete").ToString(), "Delete", new {id = document.Id}, new {itemprop = "RemoveUrl UnsafeUrl"})
                    </td>
                </tr>
            }
        </table>
    </fieldset>
}

@Display(Model.Pager)