@using KVV.DocumentManagement.Helpers
@using KVV.DocumentManagement.Models
@{
    Style.Include("file-icons.css");
    var document = (DocumentPart)Model.ContentPart;
}
<p>
    <a class="@document.FileExtension.FileIconClass()" href="@Url.Action("Download", "Document", new { id = document.Id, area = "KVV.DocumentManagement" })">@document.Name</a>
</p>