@using KVV.DocumentManagement.Helpers
@using KVV.DocumentManagement.Models
@{
    Style.Include("file-icons.css");
    Style.Include("document-list.css");
    var group = (DocumentGroupPart) Model.DocumentGroup;
    var documents = (IList<DocumentPart>)Model.Documents;
}
<div class="document-list">
    <h1>@group.Name</h1>
    @if (documents.Any()) {
        <ul>
            @foreach (var document in documents) {
                <li><a class="@document.FileExtension.FileIconClass()" href="@Url.ItemDisplayUrl(document)">@document.Name</a></li>
            }
        </ul>
    }
    else {
        <p>@T("There are no documents to display.")</p>
    }
</div>