﻿@using KVV.DocumentManagement.Models
@{
    var groups = (IList<DocumentGroupPart>)Model.DocumentGroups;
    Layout.Title = T("Document Groups").ToString();
    
}
<div class="manage">@Html.ActionLink(T("Add Group").ToString(), "Create", "Admin", new { id = "DocumentGroup", area = "Contents", returnUrl = Request.Path }, new { @class = "button primaryAction" })</div>
<fieldset>
    @Html.AntiForgeryToken()
    <table class="items" summary="@T("This is a table of the document groups in your application")">
        <thead>
            <tr>
                <th scope="col">@T("Name")&nbsp;&darr;</th>
                <th scope="col">@T("Roles")</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach(var documentGroup in groups){
            <tr>
                <td>@Html.ItemEditLinkWithReturnUrl(Html.ItemDisplayText(documentGroup).ToString(), documentGroup)</td>
                <td>@string.Join(", ", documentGroup.Roles.OrderBy(x => x))</td>
                <td>
                    @Html.ItemEditLinkWithReturnUrl(T("Edit").ToString(), documentGroup) |
                    @Html.ActionLink(T("Delete").ToString(), "Delete", new { id = documentGroup.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                </td>
            </tr>
        }
    </table>
</fieldset>
    
@Display(Model.Pager)