@model KVV.DocumentManagement.ViewModels.DocumentListViewModel
@{
    var options = Model.Groups.Select(x => new SelectListItem {Text = x.Name, Value = x.Id.ToString(), Selected = x.Id == Model.GroupId}).ToList();
}
<fieldset>
    <legend>@T("Documents")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.GroupId)">@T("Group")</label>
        @Html.DropDownListFor(m => m.GroupId, options, "")
    </div>
</fieldset>
