@model KVV.DocumentManagement.Models.DocumentsSettingsPartRecord
<fieldset>
    <legend>@T("Document Storage Settings")</legend>
    <div>
        @Html.LabelFor(m => m.DocumentsPath, T("Documents Path"))
        @Html.TextBoxFor(m => m.DocumentsPath, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.DocumentsPath, "*")
        <div class="hint">@T("The relative path where the uploaded documents should be stored.")</div>
    </div>
</fieldset>