@using KVV.DocumentManagement.Helpers
@model KVV.DocumentManagement.ViewModels.DocumentViewModel
@{
    Script.Require("jQuery");
    Style.Include("file-icons.css");
    Style.Include("document-editor-admin.css");
    Script.Include("document-editor-admin.js");
    
    var options = Model.Groups.Select(x => new SelectListItem {Text = x.Name, Value = x.Id.ToString(), Selected = x.Id == Model.GroupId}).ToList();
    var currentFileExtension = Model.CurrentDocument.FileExtension;
    var hasFile = !string.IsNullOrWhiteSpace(Model.CurrentDocument.OriginalFileName) && !Model.Delete;
    var fileIconClass = currentFileExtension.FileIconClass();
}
<fieldset class="document-editor">
    @Html.HiddenFor(m => m.Delete, new { @class = "document-deleted" })
    @if (hasFile) {
        <div class="current-file-wrapper group">
            <label>@T("Current File")</label>
            <a class="@fileIconClass" href="@Url.Action("Download", "DocumentAdmin", new { area = "KVV.DocumentManagement", id = Model.CurrentDocument.Id })">@Model.CurrentDocument.OriginalFileName</a>
            <a class="delete-file" href="#" title="@T("Delete")" data-prompt="@T("The file will be permanently deleted after publishing this document. Are you sure you wish to continue?")"></a>
        </div>
    }
    <div>
        <label for="DocumentFile">@T("Document")</label>
        <input type="file" id="DocumentFile" name="DocumentFile"/>
        @if (hasFile) {
            <div class="hint">@T("Uploading a file will overwrite the current one")</div>
        }
        else {
            <div class="hint">@T("Upload a file for this document")</div>
        }
    </div>
</fieldset>

<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.GroupId)">@T("Group")</label>
        @Html.DropDownListFor(m => m.GroupId, options, "")
    </div>
</fieldset>
