@model KVV.DocumentManagement.ViewModels.DocumentGroupViewModel

<fieldset>
    <legend>@T("Roles")</legend>
    @if (Model.Roles.Count > 0) {
        var index = 0;
        foreach (var entry in Model.Roles) {
            @Html.Hidden("Roles[" + index + "].RoleName", entry.RoleName)

    <div>
        @Html.CheckBox("Roles[" + index + "].Granted", entry.Granted)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.Roles[index].Granted)">@entry.RoleName</label>
    </div>
            index++;
        }
    }
    else {
    <p>@T("There are no roles.")</p>
    }
</fieldset>
