﻿.current-file-wrapper {
    margin: 5px 0 15px 0;
}

a.delete-file {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin: 9px 0 0 20px;
    background: url('../content/delete.png');
}

a.file-icon {
    background: url('../content/file-icons.png') no-repeat 0 0;
    line-height: 32px;
    padding: 0 0 0 40px;
    display: block;
    float: left;
}

a.file-icon.pdf { background-position: 0 -32px; }
a.file-icon.png { background-position: 0 -64px; }
a.file-icon.txt { background-position: 0 -96px; }
