﻿.document-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.document-list ul li {
    margin: 0 0 5px 0;
}

.document-list ul li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}