﻿input.search-term {
    width: 256px;
    height: 18px;
}

a.document {
    padding: 0 0 0 25px;
}

a.document.online {
    background: url('../content/online.png') no-repeat;
}

a.document.offline {
    background: url('../content/offline.png') no-repeat;
}