﻿a.file-icon {
    background: url('../content/file-icons.png') no-repeat 0 0;
    line-height: 32px;
    padding: 0 0 0 40px;
    display: block;
    float: left;
}

a.file-icon.pdf { background-position: 0 -32px; }
a.file-icon.png { background-position: 0 -64px; }
a.file-icon.txt { background-position: 0 -96px; }
a.file-icon.jpg { background-position: 0 -128px; }
a.file-icon.doc { background-position: 0 -160px; }
a.file-icon.docx { background-position: 0 -160px; }
a.file-icon.rtf { background-position: 0 -160px; }
a.file-icon.xls { background-position: 0 -192px; }
a.file-icon.xlx { background-position: 0 -192px; }
a.file-icon.ppt { background-position: 0 -224px; }
a.file-icon.pptx { background-position: 0 -224px; }
a.file-icon.zip { background-position: 0 -256px; }
a.file-icon.zipx { background-position: 0 -256px; }
a.file-icon.rar { background-position: 0 -288px; }